<div class="movies-container">
  <mat-card class="movie-card" *ngFor="let movie of movies">
    <img
      mat-card-image
      [src]="movie.imageURL"
      [alt]="movie.title"
      class="movie-image"
    />

    <mat-card-content>
      <h3>{{ movie.title }}</h3>
      <p>{{ movie.year }} • {{ movie.genre?.name }}</p>
      <p>Director: {{ movie.director?.name }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-icon-button color="warn" (click)="toggleFavorite(movie._id)">
        <mat-icon>
          {{ isFavorite(movie._id) ? "favorite" : "favorite_border" }}
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
