<h2 mat-dialog-title>Register</h2>

<mat-dialog-content>
  <form #registerForm="ngForm">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Username</mat-label>
      <input
        matInput
        name="username"
        [(ngModel)]="userData.username"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        [(ngModel)]="userData.password"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        [(ngModel)]="userData.email"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Birthday</mat-label>
      <input
        matInput
        type="date"
        name="birthday"
        [(ngModel)]="userData.birthday"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="registerUser()">
    Register
  </button>
</mat-dialog-actions>
